
  
@font-face {
    font-family: SourceSansProRegular;

    src:  url('../assets/fonts/Fraunces/static/');
  }
  @font-face {
    font-family: SourceSansProBold;

    src:  url('../../assets/fontFamily/SourceSansPro-Bold.ttf');
  }
 
