
  
@font-face {
    font-family: SourceSansProRegular;

    src:  url('../assets/fonts/');
  }
  @font-face {
    font-family: SourceSansProBold;

    src:  url('../../assets/fontFamily/SourceSansPro-Bold.ttf');
  }
 
