@import  './variables';
.homeCard{
    .title{
        font-family: 'Fraunces';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 130px;
letter-spacing: 0.4px;
    }
    .logoText{
        font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 130px;

color: $color_btn;

letter-spacing: 0.4px;
    }
}