@import "./variables";
.homeCard {
  .title {
    font-family: Fraunces;
    font-style: normal;
    font-size: 100px;
    line-height: 130px;
 
    color: $color_title;
   
  }
  .text{
padding: 20px 250px;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
  }

  .logoText {
   
    
    color: $color_btn;
   
  }
  .cardImgOverlay{
    padding: 16vh  13vw 15vh 11vw;
  }
  .homeBtn:nth-child(2){
    padding: 21px 71px;
    font-size: 18px;
line-height: 27px;
border-radius: 10px;
background-color: $color_btn;
border: 1px solid $color_btn;
margin-right: 10px;
  }
  .homeBtn:nth-child(2){
    background-color: $color_home_btn;
  }
}

