@import "./variables";
.homeCard {
  .title {
    font-family: Fraunces;
    font-style: normal;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 0.4px;
    color: $color_title;
  }
  .probel{
    width: 240px;
    display: block;
    box-sizing: ;
  }
  .logoText {
   
    
    color: $color_btn;
   
  }
  .cardImgOverlay{
    padding: 16vh  11vw;
  }
}
