@import "./variables";
.homeCard {
  .title {
    font-family: Fraunces;
    font-style: normal;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 0.4px;
    color: $col;
  }
  .logoText {
   
    
    color: $color_btn;
   
  }
  .cardImgOverlay{
    padding: 16vh  13vw;
  }
}
