 @media screen and (min-width:1600px){
    .Wrap{

        width:  80vw;
        margin: 0 auto;
    }
    .homeCard {

 
        .title {
          font-family: Fraunces;
          font-weight: 400;
          font-size: 30px;
          line-height: 130px;         
        }
        .text{
            padding: 20px 250px;
            
            font-weight: 400;
            font-size: 25px;
            line-height: 38px;
            
              }
    }
}
