 @media screen and (min-width:1600px){
    .Wrap{

        width:  80vw;
        margin: 0 auto;
    }
   

 
        .title {
          font-family: Fraunces;
          font-weight: 400;
          font-size: 20px;
                  
        }
        .text{
            padding: 20px 50px;
            
            font-weight: 400;
            font-size: 25px;
            line-height: 38px;
            
              }
              .cardImgOverlay{
                padding:0;
              }
    
}
