@import '../variables';
.customSection{
    padding: 110px 0;
    width: 100%;
    .textWrap{
        text-align: center;
    }
    .title{
        font-family: Fraunces;
        font-weight: 400;
font-size: 40px;
line-height: 56px;

    }
    .text{
        font-size: 20px;
line-height: 30px;

color: $color_text;
    }
    .customCardImg{
        width: 100%;
    }
}