
.footer{
    text-align: center;
}
.footerCricle{
    transform: rotate(20deg);
}
.slide{
    display: flex;
    column-gap: 100px;
    img{
        font-size: 50px;
    }
    .sliderText{
        font-size: 30px;
        line-height: 45px;
    }
}